:root{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #1f4d91;
}
#root{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.new-div{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    margin: 0;
}
.auth-box{
    width: 25vw;
    height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}
.auth-box .main{
    margin: 30px 0 20px;
}
.auth-box input{
    width: 15vw;
    height: 4vh;
}
.auth-box h5{
    margin: 5px 0;
}
.auth-box button{
    padding: 0;
    margin-top: 20px;
    width: 15vw;
    height: 4vh;
    background-color: #1f4d91;
    color: white;
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    border-radius: 3%;
}
.auth-box button:hover {
    background-color: #2a69c4;
}

.auth-box button:active {
    background-color: #144280;
}

.auth-box.connect{
    height: 30vh;
    border-radius: 7%;
}
.auth-box.connect button{
    height: 5vh;
}
.auth-box.connect.disconnect{
    height: 40vh;
}

.auth-box.connect.disconnect .delete{
    background-color: red;
}

.auth-box.connect.disconnect .delete:hover {
    background-color: #ff3f24;
}

.auth-box.connect.disconnect .delete:active {
    background-color: #cc2915;
}

.grid-container {
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5% 23% 50% 22%;
}

.grid-item {
    border: solid black;
    text-align: center;
}

.conversation-thread {
    display: flex;
    flex-direction: column;
}

.messages {
    flex-grow: 1; /* Messages take remaining space */
    overflow-y: auto; /* Enable vertical scrolling if messages overflow */
}

.reply-input {
    margin-top: auto; /* Push input field to the bottom */
    height: 10%;
}
.conversation-thread .reply-input input {
    width: 80%;
    height: 5vh;
}
.conversation-thread .reply-input button {
    margin-left: 15px;
} 

.grid-container .user-profile {
    display: flex;
    flex-direction: column;
    background-color: red;
}
.grid-container .user-profile p{
    margin-top: auto;
}

#login-status{
    color: red;
}
#register-status{
    color: red;
}